<script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>

<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/ui-debtags/jquery-ui-1.8.17.custom.css">
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>

<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery.tooltip.css">
<script src="{{ STATIC_URL }}js/jquery.tooltip.pack.js"></script>

<script src="{{ STATIC_URL }}js/debtags.js"></script>

<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/debtags-ui.css">
<script src="{{ STATIC_URL }}js/debtags-ui.js"></script>
