/*
 * Add tweaks specific to your site. Try to keep this as small as possible and
 * do not override default settings unless absolutely necessary. Small changes
 * will in time accumulate and result in the sites diverging. Consistency
 * across sites is important and this includes details.
 */


span.nyt { color: red; }

#tabbar {
    text-align: right;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    border-bottom: 1px solid #d2d3d7;
    font-size: small;
}
#tabbar a {
	color: brown;
	text-decoration: none;
	cursor: pointer;
}
#tabbar ul {
    margin: 0;
    padding: 0;
}
#tabbar ul > li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 3px;
    background-color: #F5F6F7;
    border: 1px solid #d2d3d7;
    border-bottom: none;
}
#tabbar ul > li:last-child {
    margin-right: 1em;
}
#taglists > div.taglists-body {
    margin-top: 0px
}

#tags {
	float: right;
	display: inline;
	border: 2px dotted brown;
	padding: 0.5em;
	margin-left: 1em;
}

#tags p {
	margin-top: 0.5em;
	font-weight: bolder;
}

#tags ul li span {
	cursor: pointer;
	text-decoration: underline;
	color: brown;
}

/* Tag editor */

#taglists { 
    margin-top: 1em;
    clear: left;
}
#alltags { display: none; }
#suggtags { display: none; }
#reltags { display: none; }

#tagbox {
    float: right;
    width: 25%;
    margin-left: 0.5em;
}

div.pkginfo span.sdesc {
    cursor: pointer;
}
div.pkginfo span.sdesc:hover {
    text-decoration: underline;
}
div.pkginfo span.sdesc:hover:after {
    font-size: small;
    content: " △";
}
div.pkginfo.collapsed span.sdesc:hover:after {
    font-size: small;
    content: " ▷";
}

div.pkgsugg {
	font-size: small;
}
div.pkgsugg li {
	list-style-type: none;
}
div.pkgsugg li:before {
	content: "✘ ";
	color: red;
}
div.pkghint {
	font-size: small;
}
div.pkghint li {
	list-style-type: none;
}
div.pkghint li:before {
	content: "? ";
	color: darkred;
}

#todotitle {
	font-weight: bolder;
}

#tiptitle:hover {
	color: brown;
}
#tipbuttons {
	text-align: right;
	margin-right: 1em;
}
#tipbuttons a {
	font-size: small;
	color: brown;
	text-decoration: none;
	cursor: pointer;
}
#tipbuttons a:before { content: "["; }
#tipbuttons a:after  { content: "]"; } 
#tip p {
	font-size: small;
	padding-left: 1em;
	padding-right: 1em;
}


/* Reviewed */

#submit_comments { display: none; font-size: small; }
#submit_comments li:before {
    content: "✘ ";
    color: red;
}
#submit_comments li {
    list-style: none;
}

#tagbox h2 {
    font-size: 1em;
    font-weight: bold;
}

#alltagssearch {
    float: right;
    margin-top: 0.5em;
    border: 1px solid #d2d3d7;
    background-color: #F5F6F7;
    padding: 0px 3px;
    font-size: small;
}
#alltags h2 {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    color: #54638c;
    border-bottom: 1px solid #d2d3d7;
}
#alltags ul {
    margin: 0;
    padding: 0;
    font-size: small;
}
#alltags ul > li {
    list-style: none;
    margin: 0;
}
#alltags-facets {
    float: left;
    width: 25%;
    padding-left: 3px;
}
#alltags-facets span.facet {
    white-space: normal;
}
#alltags-tags {
    margin-left: 25%;
}
#alltags-tags ul {
    background-color: #F5F6F7;
    padding-left: 3px;
}

#curpackage p {
    font-size: small;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#curpackage pre {
    font-size: small;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

ul.taglist {
    padding-left: 2em;
}

ul.taglist li p {
    margin: 0;
    padding: 0;
}

#available_facets_list li.current {
    background-color: #F5F6F7;
}
#available_facets_list li.current .facet {
    text-decoration: none;
    cursor: text;
}
#available_facets_list li.current .facet .name {
    font-weight: bold;
}

#suggested_tags_list {
    font-size: small;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
}
#suggested_tags_list > li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#suggested_tags_list > li.current {
    display: none;
}

#sugginfo {
    float: right;
    width: 30%;
    font-size: small;
}

#relsearch {
    float: right;
    width: 30%;
    font-size: small;
}
#search_tags_list {
    font-size: small;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
}
#search_tags_list > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.facet { cursor: pointer; white-space: nowrap; }
.facet:hover { text-decoration: underline; }
.facet .name { color: brown; }
.facet .ldesc { font-size: small; white-space: normal; }
.facet .ldesc p { margin: 0; padding: 0; }


.tag { text-decoration: none; cursor: pointer; }
.tag:hover { text-decoration: underline; }
.tag .name { color: brown; }
.tag .ldesc { font-size: small; }
.tag .ldesc p { margin: 0; padding: 0; padding-left: 0.5em; }

.tag.current .name { font-weight: bold; }


#current_patch_list .tag.added .name:before { content: "+"; }
#current_patch_list .tag.removed .name:before { content: "-"; }

#patch-submit {
    float: right;
}

.button { font-weight: normal; color: brown; }
.button.current { font-weight: bold; color: black; }

#tagbox ul {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}
#tagbox ul > li {
    list-style-type: none;
    font-size: small;
}
#todolist ul {
    font-size: small;
}
#todolist ul > li.check:before {
    content: "✘ ";
    color: red;
}
#todolist ul > li.hint:before {
    content: "? ";
    color: #54638c;
}
#tiptitle {
    cursor: pointer;
}

div.tooltip {
    font-size: small;
}
div.tooltip p {
    margin: 0;
    margin-left: 0.5em;
}
div.tooltip pre {
    margin: 0;
    margin-left: 0.5em;
}

#todolist ul.fixes {
    margin: 0;
    margin-left: 1em;
    padding: 0;
    font-size: small;
}
#todolist ul.fixes > li {
    list-style-type: none;
    cursor: pointer;
    color: #54638c;
}
#todolist ul.fixes > li:hover {
    text-decoration: underline;
}
#todolist ul.fixes > li:before {
    /* content: "! "; */
}

#current {
    margin: 0;
}

#toolbox {
    float: right;
    width: 50%;
    margin: 0;
}

#patch {
}

#patch h2 {
    cursor: pointer;
}
#patch h2:hover {
    text-decoration: underline;
}


#possible {
    margin-top: 1em;
    clear: right;
}

.tagedit-box h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

.tagedit-box li.collapsed ul.taglist {
    display: none;
}
.tagedit-box ul.pkglist li .name {
}
.tagedit-box ul.pkglist li .name a {
    text-decoration: none;
}
.tagedit-box ul.pkglist li .name a:hover {
    text-decoration: underline;
}
.tagedit-box ul.pkglist li .sdesc {
    font-size: small;
}
.tagedit-box ul.pkglist li .sdesc:before {
    content: " - ";
}

ul.taglist > li.deleted {
    text-decoration: line-through;
}
ul.pkglist {
    margin-top: 0.5em;
}
ul.pkglist > li.added:before {
    content: "+ ";
    color: red;
    font-weight: bold;
}
.tagedit-box ul.taglist {
    margin: 0;
    padding: 0;
    font-size: small;
}
.tagedit-box ul.taglist > li {
    display: inline-block;
    list-style-type: none;
    margin-right: 0.5em;
}
.tagedit-box ul.taglist > li.current {
    font-weight: bold;
}
#current.tagedit-box ul.taglist > li {
    cursor: pointer;
}

#editor-config {
    font-size: medium;
    font-weight: normal;
}
