{% extends "reports/base.html" %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.17.tabs.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
        $("table").tablesorter();
});
</script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url "report_facets" %}">facets</a>{% endblock %}

{% block content %}

<div id="intro">
    <p>This page shows a summary of all facets in the Debtags vocabulary.</p>
</div>

<table class="facstats tablesorter">
    <thead>
        <tr><th>Facet</th><th>Packages in stable db</th></tr>
    </thead>
    <tbody>
    {% for t, scount in facets %}
    <tr>
        <td class="tag">
            <a href="{% url "report_facet" name=t.name %}">{{t.name}}</a> - {{t.sdesc}}
            {% if t.ldesc %}
            <p class="ldesc">{{t.ldesc}}</p>
            {% endif %}
        </td>
        <td>{{scount}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

