{% extends "reports/base.html" %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.17.tabs.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block breadcrumbs %}{{block.super}}
/ <a href="{% url "report_facets" %}">facets</a>
/ <a href="{% url "report_facet" name=facet.name %}">{{facet.name}}</a>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
        $("table").tablesorter();
});
</script>
{% endblock %}

{% block content %}

<div id="intro">
    <p>This page shows all known information about facet <b>{{facet.name}}</b>.</p>
</div>

<dl>
    <dt>Short description</dt>
    <dd>{{facet.sdesc}}</dd>
    <dt>Long description:</dt>
    <dd>{{facet.ldesc}}</dd>
    <dt>Packages</dt>
    <dd>
        <b>{{scount}}</b> in the tag db,
    </dd>
    <dt>Tags</dt>
    <dd>
    <table class="tagstats tablesorter">
        <thead>
            <tr><th>Tag</th><th>Packages in stable db</th></tr>
        </thead>
        <tbody>
        {% for t, scount in tags %}
        <tr>
            <td class="tag">
                <a href="{% url "report_tag" name=t.name %}">{{t.name}}</a> - {{t.sdesc}}
                {% if t.ldesc %}
                <p class="ldesc">{{t.ldesc}}</p>
                {% endif %}
            </td>
            <td>{{scount}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </dd>
</dl>

{% endblock %}

