{% extends "reports/base.html" %}

{% block head_resources %}
{{block.super}}
{% include "debtags-ui.html" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
var settings = $.settings();
var all_dists = {};
var src_dists = {};
var pkg_dists = {};

function pkg_tooltip_handler()
{
    var el = $(this);
    res = "<div class='pkgtooltip'>"
    res += "<p>Package: <b>" + el.attr("pkg") + "</b></p>";
    res += "<p>Indexed from: <b>" + el.attr("dists").split(",").join(", ") + "</b></p>";
    res += "</div>"
    return res;
}
function is_some_dist_visible(distset)
{
    var res = false;
    $.each(distset, function(key, val) { if (!settings.value("hide_dists")[key]) res = true; });
    return res;
}
function update_dist_visibility()
{
    $("ul#sources > li").each(function(el) {
        var el = $(this);
        var src = el.attr("src");
        if (is_some_dist_visible(src_dists[src]))
        {
            el.show();
            $("ul.pkglist > li", el).each(function(el) {
                var el = $(this);
                var pkg = el.attr("pkg");
                if (is_some_dist_visible(pkg_dists[pkg]))
                    el.show();
                else
                    el.hide();
            });
        } else
            el.hide();
    });
}
$(function() {
    settings.defaults({
        hide_dists: {},
    });

    $("#dui-settings").settings();
    $("#dui-settings").bind("settingschanged", function(event, data) {
        update_dist_visibility();
    });

    // Aggregate distributions per source, and build list of available distributions
    $("ul#sources > li").each(function(el) {
        var srcel = $(this);
        var src = srcel.attr("src");
        var dists = src_dists[src] = {};

        $("ul.pkglist > li", srcel).each(function(el) {
            var el = $(this);
            var pkg = el.attr("pkg");
            $.each(el.attr("dists").split(","), function(idx, el) {
                // All available distros
                all_dists[el] = true;
                // Distros for this source package
                dists[el] = true;
                // Distros for this binary package
                if (pkg_dists[pkg] == null) pkg_dists[pkg] = {};
                pkg_dists[pkg][el] = true;
            });

            el.tooltip({
                bodyHandler: pkg_tooltip_handler,
            });
        });
    });
    var distlist = $.map(all_dists, function(val, key) { return key; });
    distlist.sort();

    // Turn the option headers into expanders
    $("#options h2").click(function() {
        $(this).next("ul").toggleClass("collapsed");
    });

    $("#settings-open").click(function() {
        $("#dui-settings").settings("open");
        return false;
    });

    update_dist_visibility();
})
</script>
{% endblock %}

{% block relatedpages %}
{{block.super}}
<a href="#" id="settings-open">Settings</a>
{% endblock %}


{% block title %}Package overview for {{maint.display_name}}{% endblock %}

{% block content %}

{% include "debtags-settings.html" %}

<div id="intro">
    <p>This page shows the packages maintained by {{maint.display_name}}.</p>
</div>

<ul id="sources">
{% for source, mps in sources %}
<li src="{{source}}">
<a name="{{source}}"></a>
  <h2 class="srcgroup">{{source}}</h2>

  <ul class="pkglist">
  {% for mp, extra in mps|dictsort:"0.pkg.name" %}
  <li pkg="{{mp.pkg.name}}" dists="{{extra.bininfo.dist|join:","}}">
    {% if mp.pkg.trivial %}
    {{mp.pkg}}
    {% else %}
    <a href='{{mp.pkg.get_absolute_url}}'>{{mp.pkg.name}}</a>
    {% endif %}
      -- {{mp.pkg.sdesc}}
    <div class='pkgtags'>
      {% for t in mp.pkg.stable_tags.all %}
      {{t}}
      {% endfor %}
    </div>
    <div class="pkgsugg">
      {% for t in mp.pkg.todolist.all %}
      <div class="tip">{{t.format|safe}}</div>
      {% endfor %}
    </div>
</li>
  {% endfor %}
  </ul>
</li>
{% endfor %}
</ul>

{% endblock %}
