{% extends "reports/base.html" %}

{% block head_resources %}
  {{block.super}}
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
        $("#email").keyup(function(ev) {
            var el = $(this);
            var val = el.val();
            $("span.link").each(function (idx, el) {
                var el = $(el);
                var tpl = el.attr("template");
                var rendered = tpl.replace("EMAIL", val);
                $("a.link", el).attr("href", rendered);
                $("tt.link", el).text(rendered);
            })
        });
})
</script>
{% endblock %}

{% block content %}

<div id="intro">
    <p>This page is an index to maintainer-specific reports.</p>
</div>

<form action="#" onSubmit="return false;">
    Type your email address to customize the links below:
    <input type="text" id="email" name="email" value="">
</form>

<dl>
    <span class="link" template="{% url "report_todo_maint" email='EMAIL' %}">
    <dt><a class="link" href="" >Maintainer packages, grouped by sources</a></dt>
    <dd>
    This is a list of all the packages of a maintainer, grouped by source, with
    a todo list for every package.
    Links to this report are built as <tt class="link">{% url "report_todo_maint" email='EMAIL' %}</tt>,
    </dd>
    </span>
</dl>

{% endblock %}

