{% extends "debtags-base.html" %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery.jqplot.min.css" />
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jqplot.barRenderer.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasTextRenderer.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
  <script src="{{ STATIC_URL }}js/plugins/jqplot.dateAxisRenderer.min.js"></script>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var data_history = {{history|safe}};

    var aggregate_chunk = Math.floor(data_history.length / 20);

    var times = [];
    var count_trivial = [];
    var count_robots = [];
    var count_humans = [];
    for (var i = 0; i < data_history.length; i += aggregate_chunk)
    {
      var trivial = 0;
      var robots = 0;
      var humans = 0;
      for (var j = i; j < Math.min(i + aggregate_chunk, data_history.length); ++j)
      {
        trivial = Math.max(trivial, data_history[j][1]);
        robots = Math.max(robots, data_history[j][2]);
        humans = Math.max(humans, data_history[j][3]);
      }
      var ts = data_history[j - 1][0] * 1000;
      times.push(ts),
      count_trivial.push([ts, trivial]);
      count_robots.push([ts, robots]);
      count_humans.push([ts, humans]);
    }

    $.jqplot('pkg_history', [count_trivial, count_robots, count_humans], {
        title: "Packages over time",
        stackSeries: true,
        seriesDefaults: {
            renderer: $.jqplot.LineRenderer,
            rendererOptions: {
                barMargin: 4,
                barWidth: 15,
                barPadding: 0,
            },
            pointLabels: { show: true },
            shadow: false,
            fill: true,
        },
        axes: {
            xaxis: {
                rendererOptions: { tickRenderer: $.jqplot.CanvasAxisTickRenderer },
                renderer: $.jqplot.DateAxisRenderer,
                label: "Date",
                min: times[0],
                tickInterval: "6 months",
                ticks: times,
                tickOptions: {
                    formatString:'%Y-%m',
                    angle: -30,
                 },
            },
            yaxis: {
                label: "Number of packages",
                labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                padMax: 0,
                min: 0,
            },
            //yaxis: { label: "Number of packages", renderer: $.jqplot.LogAxisRenderer, },
            //yaxis: { padMin: 0 },
        },
        series: [
            { label: 'Trivial packages' },
            { label: 'Packages, tags by robots only' },
            { label: 'Packages, tags by humans' },
        ],
        legend: {
            show: true,
            location: 'ne',
            placement: 'inside',
        }
    });
})
</script>
{% endblock %}

{% block content %}

<div id="intro">
    <p>This page shows statistics about Debtags.</p>
</div>

<p>There are <b>{{stats.count_tags}}</b> tags in the Debtags vocabulary, and
<b>{{stats.count_packages}}</b> known packages to tag. Of these,
<b>{{stats.count_trivial}}</b> are trivially tagged,
<b>{{stats.count_tagged}}</b> were tagged by humans, and
<b>{{stats.count_untagged}}</b> were <a href="{% url "report_checks_show" 3 %}">only tagged by robots so far</a>.</p>

<p>This is a graph with the history of package tags. The peak in 2011 is when
cleaning up of obsolete packages was implemented:</p>
<div id="pkg_history" style="height: 400px; width: 800px;"></div>

<p>This is a list of consistency checks that are regularly run on the database,
with a list of packages that trigger them:</p>
<table>
    <tr><th>Check name</th><th>Description</th><th>Number of matching packages</th></tr>
    {% for count, c in checks %}
    <tr>
        <td><a href="{% url "report_checks_show" id=c.ID %}">{{c.name}}</a></td>
        <td>{{c.sdesc}}</td>
        <td>{{count}} / {{stats.count_packages}}</td></tr>
    {% endfor %}
</table>

{% endblock %}
