{% extends "reports/base.html" %}

{% block breadcrumbs %}{{block.super}}
/ <a href="{% url "report_facets" %}">facets</a>
/ <a href="{% url "report_facet" name=tag.facet.name %}">{{tag.facet.name}}</a>
/ <a href="{% url "report_tag" name=tag.name %}">{{tag.name}}</a>
{% endblock %}

{% block content %}

<div id="intro">
    <p>This page shows all known information about tag <b>{{tag.name}}</b>.</p>
</div>

<dl>
    <dt>Short description</dt>
    <dd>{{tag.sdesc}}</dd>
    <dt>Long description</dt>
    <dd>
    {% if tag.ldesc %}
        {{tag.ldesc}}
    {% else %}
        None yet.
    {% endif %}
    </dd>
    <dt>Packages</dt>
    <dd>
        {{tag.stable_packages.count}} in the stable tag db,
    </dd>
    <dt>Facet</dt>
    <dd>
        <div class="tag">
        <a href="{% url "report_facet" name=tag.facet.name %}">{{tag.facet.name}}</a> - {{tag.facet.sdesc}}
        {% if tag.facet.ldesc %}
        <p class="ldesc">{{tag.facet.ldesc}}</p>
        {% endif %}
        </div>
    </dd>
</dl>

{% endblock %}

