{% extends "debtags-base.html" %}

{% block title %}Debtags search{% endblock %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/search.css" />
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url "search_packages" %}">search</a>{% endblock %}

{% block relatedpages %}
    <a href="{% url "report_todo" %}">TODO list</a>
    <a href="{% url "editor_index" %}">Editor</a>
{% endblock %}

{% block content %}
<h1>Debtags Search Template</h1>
{% endblock %}
