{% extends "search/base.html" %}

{% block relatedpages %}
{{block.super}}
<a href="https://wiki.debian.org/Debtags/SearchHelp">Help</a>
{% endblock %}

{% block head_resources %}
  {{block.super}}
  <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
    $(function() {
    $(".pkginfo").addClass("collapsed");
    $(".expander").click(function(ev) {
        var el = $(this)
        var pkginfo = $(".pkginfo", $(this).parent().parent());
        if (pkginfo.hasClass("collapsed"))
        {
            pkginfo.removeClass("collapsed");
            $(this).text("close △");
        } else {
            pkginfo.addClass("collapsed");
            $(this).text("open ▷");
        }
    }).addClass("collapsed").text("open ▷")

    $(".spelling").click(function(ev) {
        $("#id_q").val($(this).text());
        $("#search-form").submit();
    });

    $("div.facets li.tag").click(function(ev) {
        var el = $(this);
        var tag = el.attr("tag");
        var wl = $("#id_wl");
        var tags = {};

        // Parse selected tags
        $.each(wl.val().split(","), function(idx, val) { if (val) tags[val] = true; });

        // Toggle this one
        if (tags[tag])
            delete tags[tag];
        else
            tags[tag] = true;

        // Set the new value
        wl.val($.map(tags, function(val, key) { return key; }).join(","));

        $("#search-form").submit();
    });

    $("#clear-tags").click(function() {
        $("#id_wl").val("");
        $("#search-form").submit();
    });

    $("ul.facets h3").click(function() {
        var el = $(this);
        el.siblings("ul").toggle();
        el.toggleClass("closed");
    });
});
</script>
{% endblock %}

{% block content %}

<div id="intro">
    <p>Debtags-enhanced package search</p>
</div>

<form method="GET" action="{% url "search_packages" %}" id="search-form">
{{form.wl}}
<p>
    {{form.q.label}}: {{form.q}} {{form.qf.label}}: {{form.qf}} <input type="submit">
    <a class="searchhelp" href="https://wiki.debian.org/Debtags/SearchHelp">[help]</a>
</p>
</form>

{% if res %}
  {% if res.spelling and res.spelling != res.query %}
  <p>Did you mean <span class="spelling">{{res.spelling}}</span>?</p>
  {% endif %}

  <div class="facets">
      <h2>Refine search</h2>
      <ul class="toolbox">
          {% if has_sel %}
          <li id="clear-tags">unselect all</li>
          {% endif %}
      </ul>
      <ul class="facets">
      {% for facet, tags in facets %}
      <li>
          <h3>{{facet.sdesc}}</h3>
          <ul class="tags">
          {% for t in tags %}
          {% if t.sel %}
          <li class="tag current" tag="{{t.tag.name}}"><span class="sdesc">{{t.tag.sdesc}}</span> <span class="card">(remove)</span></li>
          {% else %}
          <li class="tag" tag="{{t.tag.name}}"><span class="sdesc">{{t.tag.sdesc}}</span> <span class="card">({{t.w}})</span></li>
          {% endif %}
          {% endfor %}
          </ul>
      </li>
      {% endfor %}
      </ul>
  </div>

  <div id="search-results">
  {% if res.match_estimated == 0 %}
  {% if res.query %}
  <p><b>No results</b> for <b>{{res.query}}</b>:</p>
  {% endif %}
  {% else %}
  <p>
    {% if res.matches|length < res.match_estimated %}
    About
    {% endif %}
    <b>{{res.match_estimated}}</b> result{{res.match_estimated|pluralize}} for <b>{{res.query}}</b>:
  </p>
  {% endif %}

  <table class="search_results">
  {% for m in res.matches %}
  <tr>
      <td class="head">
          <span class="count">{{forloop.counter}}:</span>
          <span class="perc">{{m.perc}}%</span>
          <span class="expander"></span>
      </td>
      <td>
        {% with m.pkg as pkg %}
        {% include "debtags-pkginfo.html" %}
        {% endwith %}
      </td>
  </tr>
  {% endfor %}
  </table>
  </div>
{% endif %}

{% endblock %}

{% block footer %}
{{block.super}}
<p>Powered by <a href="http://xapian.org/">Xapian</a> and <a href="http://www.enricozini.org/sw/apt-xapian-index/">apt-xapian-index</a>.</p>
{% endblock %}
