/* Patchset editor */

.dui-patchset {}
.dui-patchset .dui-collapsed {}
.dui-patchset .dui-patchset-submit-label {
    font-size: small;
    text-decoration: none;
    cursor: pointer;
}
.dui-patchset .dui-patchset-submit-label:hover {
    text-decoration: underline;
}
.dui-patchset .dui-patchset-submit-button {
    float: right;
}
.dui-patchset .dui-patchset-submit-opener {
    display: none;
}
.dui-patchset.dui-collapsed .dui-patchset-submit-opener {
    display: inline;
}
.dui-patchset .dui-patchset-submit-messages {
    cursor: pointer;
}
.dui-patchset .dui-patchset-submit-messages > ul {
    margin: 0;
    padding: 0;
}
.dui-patchset .dui-patchset-submit-messages > ul > li {
    list-style-type: none;
    margin: 0;
}
.dui-patchset .dui-patchset-submit-messages > ul > li:before {
    content: "✘ ";
    color: red;
}
.dui-patchset > ul {
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
    font-size: small;
}
.dui-patchset.dui-collapsed > ul {
    display: none;
}
.dui-patchset > ul > li {
    list-style-type: none;
    margin: 0;
}
.dui-patchset > ul > li > ul {
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
}
.dui-patchset > ul > li > ul > li {
    list-style-type: none;
    margin: 0;
}
.dui-patchset .dui-pkgname {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}
.dui-patchset .dui-pkgname:hover {
    text-decoration: underline;
}
.dui-patchset .dui-tagname {
    color: brown;
    text-decoration: none;
    cursor: pointer;
}
.dui-patchset .dui-tagname:hover {
    text-decoration: underline;
}
.dui-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("images/ajax-loader.gif");
}
.dui-spinner.dui-idle {
    display: none;
}
