{% extends "debtags-base.html" %}

{% block title %}Debtags editor{% endblock %}

{% block head_resources %}
{{block.super}}
{% include "debtags-ui.html" %}
<link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/editor.css" />
<script src="{{ STATIC_URL }}js/vocabulary.js"></script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url "editor_index" %}">editor</a>{% endblock %}

{% block searchbox %}
<form name="begin" method="GET" action="{% url "editor_index" %}">
    Switch to package: <input type="text" name="pkg">
    <input type="button" name="submit" value="Search">
</form>
{% endblock %}

{% block content %}
<h1>Debtags Editor Template</h1>
{% endblock %}
