{% extends "debtags-base.html" %}

{% block content %}

<div id="intro">
    <p>This page lists the resources on this site. General informations about
    Debtags are found <a href="https://wiki.debian.org/Debtags">in the Debian
    wiki</a>.</p>
</div>

<dl>
    <dt><a href="{% url "api_index" %}">API</a></dt>
    <dd>Public site API.</dd>

    <dt><a href="{% url "editor_index" %}">Tag editor</a></dt>
    <dd>
        <form name="begin" method="GET" action="{% url "editor_index" %}">
        Web-based tag editor.
            Edit package: <input type="text" name="pkg">
            <input type="submit" value="Edit">
        </form>
    </dd>

    <dt><a href="{% url "exports_index" %}">Exports</a></dt>
    <dd>Site data export facilities.
    Shortcuts:
    <a href="{% url "exports_stable_tags" %}">stable-tags</a>
    <a href="{% url "exports_vocabulary_js" %}">vocabulary.js</a>
    </dd>

    <dt><a href="{% url "report_index" %}">Reports</a></dt>
    <dd>Statistics and reports.
    Shortcuts:
    <a href="{% url "report_maint_index" %}">maintainer</a>
    <a href="{% url "report_stats" %}">stats</a>
    <a href="{% url "report_todo" %}">TODO list</a>
    <a href="{% url "report_checks_list" %}">package checks</a>
    </dd>

    <dt><a href="{% url "search_packages" %}">Search</a></dt>
    <dd>
      <form name="p" method="get" action="{% url "search_packages" %}" id="">
      Debtags-powered package search: <input name="q" value="" size="27"> <input type="submit" value="Search">
      </form>
    </dd>
</dl>

{% endblock %}
