{% extends "debtags-base.html" %}

{% block content %}

<p>To contribute to the site you need to use
<a href="https://wiki.debian.org/DebianSingleSignOn">Debian's Single Sign-On</a>.
Please see <a href="https://wiki.debian.org/DebianSingleSignOn#Documentation_for_Users">the SSO documentation</a> for details.</p>

{% endblock %}
